/* Submenu Categories */
.ctg-main {
  display: inline-block;
  position: relative;
}

.ctg-main:hover .submenu-ctg {
  opacity: 1;
  visibility: visible;
  animation: downUp .4s forwards;
}

@keyframes downUp {
  from {
    opacity: 0;
    transform: translate3d(0, 6px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.submenu-ctg {
  position: absolute;
  top: 46px;
  background: var(--white-color);
  box-shadow: 0px 1px 12px rgb(0, 0, 0, .1);
  border-radius: 5px;
  width: 15vw;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.submenu-ctg a {
  display: block;
  font-size: 0.875rem;
  color: var(--font-color);
  transition: .3s;
  position: relative;
}

.submenu-ctg .ctg-submenu-link {
  padding: 14px 16px;
}

.submenu-ctg .ctg-submenu-link:hover {
  color: var(--red-color);
}

.submenu-ctg li:not(:last-of-type) .ctg-submenu-link {
  border-bottom: 1px solid #dae1e7;
}

.submenu-ctg .ctg-submenu-link::after {
  content: '▶';
  font-size: 0.5rem;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.submenu-ctg-main {
  position: relative;
}

.ctg-second-submenu {
  position: absolute;
  top: 0;
  background: var(--white-color);
  box-shadow: 0px 1px 12px rgb(0, 0, 0, .1);
  border-radius: 5px;
  width: 15vw;
  z-index: 3;
}

.ctg-second-submenu li:last-of-type {
  padding-bottom: 10px;
}

.ctg-second-submenu li:first-of-type a {
  padding: 14px 16px;
  border-bottom: 1px solid #dae1e7;
  font-weight: 700;
  position: relative;
}

.ctg-second-submenu li:not(:first-of-type) a {
  padding: 10px 16px;
}

.ctg-second-submenu li:first-of-type a::after {
  content: '﹥';
  font-weight: 700;
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  margin-left: 5px;
  transform: translate3d(0, -50%, 0);
}

.ctg-second-submenu li:not(:first-of-type) a:hover {
  color: var(--red-color);
}

.ctg-second-submenu {
  opacity: 0;
  visibility: hidden;
}

.submenu-ctg-main:hover .ctg-second-submenu {
  opacity: 1;
  visibility: visible;
}

/* Submenu Menu */
.menu-nav-main {
  position: relative;
  z-index: 4;
}

.menu-submenu {
  display: block;
  position: absolute;
  top: 31px;
  background: var(--white-color);
  box-shadow: 0px 1px 12px rgb(0, 0, 0, .1);
  border-radius: 5px;
}

.home-submenu {
  width: 16vw;
}

.menu-submenu a {
  display: block;
}

.menu-submenu a {
  font-size: 0.875rem;
  color: var(--font-color);
  transition: .3s;
}

.menu-submenu a p {
  font-size: 0.625em;
  color: var(--font-color);
  font-weight: 300;
  margin-top: 3px;
}

.menu-submenu a:hover {
  color: var(--red-color);
}

.menu-submenu > li a {
  padding: 10px 16px;
}

.home-submenu > li:not(:last-of-type) {
  border-bottom: 1px solid #dae1e7;
}

.menu-second-submenu {
  position: relative;
  z-index: 5;
}

.menu-second-submenu ul {
  position: absolute;
  background: var(--white-color);
  box-shadow: 0px 1px 12px rgb(0, 0, 0, .1);
  border-radius: 5px;
}

.menu-second-submenu ul img {
  width: 185px;
}

.menu-second-submenu ul {
  opacity: 0;
  visibility: hidden;
}

.menu-second-submenu:hover ul {
  opacity: 1;
  visibility: visible;
}

.menu-second-submenu:nth-of-type(4) a {
  color: var(--red-color);
}

.v1-second-submenu {
  top: 0;
}

.v2-second-submenu {
  top: -55px;
}

.eletronics-second-submenu {
  top: -110px;
}

.market-second-submenu {
  top: -165px;
}

.grocery-second-submenu {
  top: -220px;
}

.menu-main .menu-submenu {
  opacity: 0;
  visibility: hidden;
}

.menu-main:hover .menu-submenu {
  opacity: 1;
  visibility: visible;
  animation: downUp .4s forwards;
}

.shop-submenu, .pages-submenu {
  width: 12vw;
}

.account-submenu {
  width: 14vw;
}

.blog-submenu {
  width: 11vw;
}

/* Cart Submenu */
.cart-submenu {
  position: absolute;
  bottom: -102px;
  right: 0;
  width: 20vw;
  padding-top: 10px;
  background: transparent;
  opacity: 0;
  visibility: hidden;
}

.headerArea-nav-right ul li:nth-of-type(4):hover .cart-submenu {
  opacity: 1;
  visibility: visible;
  animation: downUp .3s forwards;
}

.cart-submenu div {
  background: var(--white-color);
  box-shadow: 0px 1px 12px rgb(0, 0, 0, .1);
  border-radius: 5px;
  font-size: 0.75rem;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.cart-submenu div i {
  font-size: 2rem;
  color: #dae1e7
}

.cart-submenu div p {
  margin-top: 5px;
  color: #7d879c;
}