.headerArea-mobile-nav {
  display: none;
}

.header {
  background: var(--white-color);
}

.header.space {
  padding: 5px 4%;
}

.headerArea-nav {
  display: grid;
  grid-template-columns: 15% 15% 50% 20%;
  align-items: center;
}

.headerArea-search {
  grid-column: 1/5;
}

.headerArea-brand a {
  display: inline-block;
  padding: 7px 0;
}

.headerArea-brand a span {
  display: block;
  background-position: center;
  background-size: 100% 100%;
  background-image: url('../../images/logo-dark.png');
  width: 142px;
  height: 34px;
}

.headerArea-ctg {
  position: relative;
}

.headerArea-ctg::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 1px;
  height: 1.875rem;
  background: #e3e9ef;
}

.ctg-main li .ctg-main-link {
  display: inline-block;
  align-items: center;
  gap: 10px;
  color: var(--font-color);
  transition: .3s;
  padding: 13px 0;
}

.ctg-main li .ctg-main-link:hover {
  color: var(--red-color);
}

.ctg-main li .ctg-main-link span {
  margin: 0 8px;
}

.ctg-main li .ctg-main-link #ctg-mobile {
  font-size: 1.2rem;
}

.ctg-main li .ctg-main-link #arrow-down {
  font-size: 0.75rem;
  position: relative;
  top: -3px;
}

.headerArea-nav-side > ul {
  display: flex;
}

.headerArea-nav-side ul .menu-main-link {
  padding: 13px 16px;
  color: var(--font-color);
  transition: .3s;
}

.headerArea-nav-side ul .menu-main-link:hover {
  color: var(--red-color);
}

.headerArea-nav-side ul li:first-of-type .menu-main-link {
  color: var(--red-color);
}