.headerArea-nav-side.showMobile {
  display: flex;
  animation: showSmooth .6s forwards;
}

.headerArea-nav-side.showMobile .headerArea-nav-mobileClose{
  display: block;
  animation: showSmooth .6s forwards;
}

@keyframes showSmooth {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}