.headerArea-mobile-nav {
  display: none;
}

.header {
  background: var(--white-color);
}

.header.fixed {
  background: var(--white-color);
  position: fixed;
  z-index: 998;
  top: 0;
  box-shadow: 0px 1px 12px rgb(0, 0, 0, .1);
  width: 100%;
  animation: fixed .4s forwards;
}

@keyframes fixed {
  from {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.header.space {
  padding: 14px 4% 0 4%;
}

.headerArea-nav {
  display: grid;
  grid-template-columns: 15% 15% 50% 20%;
  align-items: center;
}

.headerArea-brand a {
  display: inline-block;
  padding: 7px 0;
}

.headerArea-brand a span {
  display: block;
  background-position: center;
  background-size: 100% 100%;
  background-image: url('https://cartzilla.projetoslucasbargas.com/assets/images/logo-dark.png');
  width: 142px;
  height: 34px;
}

.headerArea-ctg {
  position: relative;
}

.headerArea-ctg::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 1px;
  height: 1.875rem;
  background: #e3e9ef;
}

.ctg-main li .ctg-main-link {
  display: inline-block;
  align-items: center;
  gap: 10px;
  color: var(--font-color);
  transition: .3s;
  padding: 13px 0;
}

.ctg-main li .ctg-main-link:hover {
  color: var(--red-color);
}

.ctg-main li .ctg-main-link span {
  margin: 0 8px;
}

.ctg-main li .ctg-main-link #ctg-mobile {
  font-size: 1.2rem;
}

.ctg-main li .ctg-main-link #arrow-down {
  font-size: 0.75rem;
  position: relative;
  top: -3px;
}

.headerArea-nav-side > ul {
  display: flex;
}

.headerArea-nav-side ul .menu-main-link {
  padding: 13px 16px;
  color: var(--font-color);
  transition: .3s;
}

.headerArea-nav-side ul .menu-main-link:hover {
  color: var(--red-color);
}

.headerArea-nav-side ul li:first-of-type .menu-main-link {
  color: var(--red-color);
}

.headerArea-nav-right ul {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
}

.headerArea-nav-right ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--font-color);
  height: 44px;
  width: 44px;
  position: relative;
}

.headerArea-nav-right ul li:last-of-type {
  background: #f3f5f9;
  border-radius: 50%;
}

.headerArea-nav-right ul li:last-of-type::before {
  content: '0';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -4px;
  right: 0;
  font-size: 0.625rem;
  font-weight: 500;
  background: var(--red-color);
  color: var(--white-color);
  height: 17px;
  width: 17px;
  border-radius: 50%;
}

.headerArea-nav-right ul li:not(:last-of-type)::before {
  font-size: 0.625rem;
  font-weight: 500;
  background: var(--font-color);
  color: var(--white-color);
  position: absolute;
  top: -11px;
  padding: 3px 5px;
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
}

.headerArea-nav-right ul li:not(:last-of-type):hover::before {
  opacity: 1;
  visibility: visible;
  animation: downUp .3s forwards;
}

.headerArea-nav-right ul li:nth-of-type(1)::before {
  content: 'Search';
}

.headerArea-nav-right ul li:nth-of-type(2)::before {
  content: 'Wishlist';
}

.headerArea-nav-right ul li:nth-of-type(3)::before {
  content: 'Account';
}

.headerArea-search {
  padding-top: 15px;
}

.headerArea-search form {
  height: 0;
  overflow-y: hidden;
  visibility: hidden;
  transition: .3s;
  position: relative;
  font-family: 'Rubik', sans-serif;
  z-index: 1;
}

.headerArea-search form button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  height: 40px;
  width: 50px;
  font-size: 0.875rem;
  cursor: pointer;
  background: transparent;
  color: var(--font-color);
}

.headerArea-search.show form {
  height: 65px;
  visibility: visible;
}

.headerArea-search form input {
  display: block;
  width: 100%;
  height: 40px;
  outline: 0;
  color: var(--font-color);
  background: #fff;
  border: 1px solid #dae1e7;
  font-size: 0.9375rem;
  font-weight: 400;
  border-radius: 0.3125rem;
  box-shadow: 0, 0, 0, 0, transparent;
  font-family: 'Rubik', sans-serif;
  padding: 0 55px 0 10px;
}

.headerArea-search form input::placeholder {
  color: #7d879c;
  font-weight: 400;
}