@media screen and (max-width: 1536px) {
  .ctg-second-submenu {
    right: -225px;
  }

  .menu-second-submenu ul {
    left: 238px;
  }

  .v2-second-submenu {
    top: -50px;
  }
  
  .eletronics-second-submenu {
    top: -100px;
  }
  
  .market-second-submenu {
    top: -152px;
  }
  
  .grocery-second-submenu {
    top: -202px;
  }

  .initial-bg {
    height: 715px;
  }
}

@media screen and (max-width: 1440px) {
  .ctg-second-submenu {
    right: -212px;
  }

  .menu-second-submenu ul {
    left: 225px;
  }
}

@media screen and (max-width: 1366px) {
  .ctg-second-submenu {
    right: -200px;
  }

  .menu-second-submenu ul {
    left: 214px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
		max-width: 1180px;
	}

  .ctg-second-submenu {
    right: -190px;
  }

  .menu-second-submenu ul {
    left: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .initial-bg {
    display: flex;
    align-items: center;
    background-position: 50% 100%;
    height: 800px;
  }

  .header.space {
    padding: 15px 4% 15px 4%;
  }

  .headerArea-nav, .headerArea-search {
    display: none;
  }

  .headerArea-mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobileNav-brand a {
    display: block;
    background-position: center;
    background-size: 100% 100%;
    background-image: url('https://cartzillacommerce.projetoslucasbargas.com/assets/images/logo-dark.png');
    width: 142px;
    height: 34px;
  }

  .mobileNav-right ul {
    display: flex;
    align-items: center;
  }

  .mobileNav-right ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--font-color);
    height: 44px;
    width: 44px;
    position: relative;
  }

  .mobileNav-right ul li:nth-of-type(3) {
    background: #f3f5f9;
    border-radius: 50%;
  }

  .mobileNav-right ul li:nth-of-type(3)::before {
    content: '0';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -4px;
    right: 0;
    font-size: 0.625rem;
    font-weight: 500;
    background: var(--red-color);
    color: var(--white-color);
    height: 17px;
    width: 17px;
    border-radius: 50%;
  }

  .menu-aside {
    display: block;
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50%;
    transform: translate3d(-100%, 0, 0);
    transition: .4s;
    z-index: 999;
  }

  .menu-aside.showMenu {
    transform: translate3d(0, 0, 0);
    box-shadow: 15px 0px 50px rgb(0, 0, 0, .1);
    transition: .4s;
  }

  .menu-aside.showMenu .menu-aside-top {
    transform: translate3d(0, 0, 0);
  }

  .menu-aside-top {
    position: fixed;
    top: 0;
    z-index: 998;
    width: 100%;
    transform: translate3d(-100%, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    box-shadow: 0px 4px 11px 1px rgb(0, 0, 0, .1);
    background: var(--white-color);
  }

  .menu-aside-top h3 {
    font-weight: 500;
    color: var(--font-color);
  }

  .menu-aside-top .menu-aside-close {
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 10px;
    color: var(--font-color);
    cursor: pointer;
  }

  .menu-aside-top .menu-aside-close span {
    font-size: 0.75rem;
  }

  .menu-aside-top .menu-aside-close:focus {
    font-weight: 500;
  }

  .menu-aside-top .menu-aside-close i {
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
  }

  .menu-aside-main {
    padding: 30px 25px;
    margin-top: 60px;
    overflow-y: auto;
    height: calc(100vh - 60px);
  }

  .menu-aside-main form {
    position: relative;
  }

  .menu-aside-main form input {
    display: block;
    height: 40px;
    width: 100%;
    outline: 0;
    color: var(--font-color);
    background: #fff;
    border: 1px solid #dae1e7;
    color: var(--font-color);
    font-size: 0.9375rem;
    font-weight: 400;
    border-radius: 0.3125rem;
    padding: 0 35px 0 10px;
  }

  .menu-aside-main form input::placeholder {
    color: #7d879c;
    font-weight: 400;
  }

  .menu-aside-main form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    padding: 0 12px;
    cursor: pointer;
    background: transparent;
    border: 0;
  }

  .menu-aside-nav ul {
    display: flex;
  }

  .menu-aside-nav ul li {
    width: 50%;
    padding: 14px 0;
    text-align: center;
    cursor: pointer;
    color: var(--font-color);
    border-bottom: 1px solid #dae1e7;
  }

  .menu-aside-nav ul li.active {
    color: var(--red-color);
    border-bottom: 1px solid var(--red-color);
  }

  .menu-aside-links .asideMenu {
    display: none;
  }

  .menu-aside-links .asideMenu.active {
    display: block;
    animation: showContent 1s forwards;
  }

  @keyframes showContent {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .asideMenu-nav-button {
    border-bottom: 1px solid #dae1e7;
  }

  .asideMenu-nav-button > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .asideMenu-nav-button > div a {
    color: var(--font-color);
  }

  .asideMenu-nav-button > div button {
    background: transparent;
    cursor: pointer;
    border: 0;
  }

  .asideMenu-nav-button > div button i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    border: 1px solid #dae1e7;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transition: .2s;
  }

  .asideMenu-nav-button > div button i.active {
    background: #dae1e7;
    transform: rotate(180deg);
  }

  .asideMenu-home-content li {
    padding-bottom: 15px;
  }

  .asideMenu-home-content li {
    border-left: 1px solid #dae1e7;
    padding-left: 16px;
  }

  .asideMenu-home-content li h4 {
    color: var(--font-color);
    font-weight: 400;
    font-size: 0.9375rem;
  }

  .asideMenu-home-content li p {
    margin-top: 5px;
    color: var(--font-color);
    font-size: 0.75rem;
  }

  .asideMenu-home-content li i {
    color: var(--font-color);
    font-size: 0.75rem;
  }

  .asideMenu-home-content li a {
    display: block;
    margin-top: 20px;
    padding: 40px 25px 15px 0;
    border-left: 1px solid #dae1e7;
    border-bottom: 1px solid #dae1e7;
    transition: .3s;
  }

  .asideMenu-home-content li a img {
    max-width: 100%;
    height: auto;
  }

  .asideMenu-home-content {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
  }

  .asideMenu-home-content.active {
    height: auto;
    visibility: visible;
    transition: 1s;
    opacity: 1;
  }

  .asideMenu-home-content.active li a {
    padding: 40px 25px 15px 35px;
  }

  .asideMenu-shop-content,
  .asideMenu-account-content,
  .asideMenu-pages-content,
  .asideMenu-blog-content {
    opacity: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .4s;
  }

  .asideMenu-shop-content.active,
  .asideMenu-pages-content.active {
    height: 117px;
    visibility: visible;
    opacity: 1;
    border-left: 1px solid #dae1e7;
    padding: 0 0 12px 15px;
    margin-bottom: 15px;
  }

  .asideMenu-shop-content a, 
  .asideMenu-account-content a,
  .asideMenu-pages-content a,
  .asideMenu-blog-content a {
    color: var(--font-color);
    padding: 5px 0;
    display: block;
    font-size: 0.875rem;
  }

  .asideMenu-account-content .account-top {
    color: var(--font-color);
  }

  .asideMenu-account-content .account-top span {
    font-size: 0.875rem;
  }

  .asideMenu-account-content .account-top i {
    font-size: 0.625rem;
    position: relative;
    top: -4px;
    margin-left: 2px;
  }

  .asideMenu-account-content {
    border-left: 1px solid #dae1e7;
    transition: .4s;
  }

  .asideMenu-account-content.active {
    height: 360px;
    visibility: visible;
    opacity: 1;
    transition: .4s;
    padding-left: 15px;
    margin-bottom: 15px;
  }

  .asideMenu-account-content.active .account-top ul {
    border-left: 1px solid #dae1e7;
    padding-left: 15px;
  }

  .account-top ul {
    margin-top: 8px;
    transition: .4s;
  }

  .asideMenu-blog-content.active {
    height: 20px;
    visibility: visible;
    opacity: 1;
    border-left: 1px solid #dae1e7;
    padding: 0 0 12px 15px;
    margin-bottom: 15px;
  }


  .aside-menu-ctg {
    border-left: 1px solid #dae1e7;
    padding-right: 35px;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: .4s;
  }

  .aside-menu-ctg.active {
    visibility: visible;
    opacity: 1;
    padding-left: 25px;
    margin-bottom: 20px;
  }

  .asideMenu-photos-content.active {
    height: 390px;
  }

  .asideMenu-graphics-content.active {
    height: 194px;
  }

  .asideMenu-ui-content.active {
    height: 167px;
  }

  .asideMenu-web-content.active {
    height: 194px;
  }

  .asideMenu-fonts-content.active {
    height: 275px;
  }

  .asideMenu-addOns-content.active {
    height: 250px;
  }

  .aside-menu-ctg li:first-of-type a {
    color: var(--font-color);
    font-weight: 500;
    border-bottom: 1px solid #dae1e7;
    padding: 25px 0 15px 0;
    font-size: 0.9375rem;
    position: relative;
  }

  .aside-menu-ctg li:first-of-type a::after {
    content: '﹥';
    color: var(--font-color);
    font-weight: 700;
    font-size: 1.25rem;
    position: absolute;
    bottom: 12px;
    margin-left: 3px;
    font-weight: 300;
  }

  .aside-menu-ctg li a {
    display: block;
    color: var(--font-color);
    font-size: 0.875rem;
  }

  .aside-menu-ctg li:not(:first-of-type) a {
    padding: 5px 0;
  }

  .aside-menu-button {
    padding-top: 25px;
    width: 100%;
  }

  .aside-menu-button button {
    color: var(--font-color);
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    text-align: center;
    background: var(--white-color);
    border: 1px solid #dae1e7;
    padding: 8px 0;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
  }

  .aside-menu-button button i {
    font-size: 0.6875rem;
    position: relative;
    top: -1px;
  }

  .aside-menu-button button.active {
    background: #dae1e7;
  }

  .aside-menu-select {
    display: none;
    padding: 20px;
    box-shadow: 0px 5px 8px rgb(0, 0, 0, .1);
  }

  .aside-menu-select.active {
    display: block;
    animation: select .3s forwards;
  }

  @keyframes select {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .aside-menu-select select {
    width: 100%;
    background: var(--white-color);
    border: 1px solid #dae1e7;
    padding: 8px 6px;
    border-radius: 3px;
    color: var(--font-color);
    font-family: 'Rubik', sans-serif;
  }

  .initial-bg-content {
    padding-top: 0;
  }

  .aside-menu-select p {
    margin-top: 15px;
    font-size: 0.875rem;
    color: var(--font-color);
  }

  .main-products.space {
    padding: 30px 4% 45px 4%;
  }
  
  .main-products {
    position: static;
    margin-top: 0;
  }

  .product-card .product-card-img::after,
  .product-card .product-visualization {
    display: none;
  }

  .products-showcase.space {
    padding: 20px 4% 55px 4%;
  }

  .products-showcase-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-content {
    grid-template-columns: 100%;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left-datas {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-left-medias ul {
    gap: 8px;
  }

  .footer-categories,
  .footer-members {
    display: none;
  }

  .footer-newsletter-area form input {
    width: 50%;
  }

  .footer-newsletter .footer-final {
    justify-content: center;
    gap: 10px;
  }

  .return-to-top {
    bottom: 72px;
    background: rgba(43,52,69, .5);
  }

  .return-to-top::before {
    display: none;
  }

  .section-nav-down {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: var(--white-color);
    z-index: 901;
    transform: translate3d(0, 0, 0);
    transition: .3s;
  }

  .section-nav-down.remove {
    transform: translate3d(0, 100%, 0);
    transition: .3s;
  }

  .section-nav-down ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    box-shadow: 0px -10px 15px rgb(0 0 0 / 10%);
  }

  .section-nav-down ul li {
    text-align: center;
    border-left: 1px solid #e3e9ef;
    border-right: 1px solid #e3e9ef;
  }

  .section-nav-down ul a {
    display: block;
    padding: 9px 0;
  }

  .section-nav-down ul a span,
  .section-nav-down ul a i {
    display: block;
  }

  .section-nav-down ul a i {
    font-size: 1.25rem;
    color: var(--font-color);
  }

  .section-nav-down ul a span {
    margin-top: 5px;
    font-size: 0.6875rem;
    color: #7d879c;
  }
}

@media screen and (max-width: 800px) {
  .initial-bg {
    height: 472px;
    background-position: 40% 100%;
  }

  .initial-bg-content {
    width: 80%;
  }

  .products-slider li {
    width: calc(100% / 2);
  }

  .main-products-control li:nth-of-type(5) {
    display: block;
  }

  .products-showcase-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .sellers-left {
    display: flex;
    justify-content: center;
  }

  .sellers-content {
    grid-template-columns: 100%;
    gap: 40px;
  }

  .why-us-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .why-us-content li {
    display: flex;
    justify-content: center;
  }

  .blog-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 500px) {
  .menu-aside.showMenu {
    width: 100%;
    background-size: 60% 100%;
  }

  .initial-bg {
    height: 600px;
    background-position: 45% 100%;
  }

  .initial-bg-content {
    width: 100%;
    text-align: center;
  }

  .initial-bg-content form {
    position: relative;
  }

  .initial-bg-content form input {
    width: 100%;
    padding-left: 50px;
    padding-right: 150px;
  }

  .initial-bg-content .btn-bg {
    bottom: 0;
  }

  .initial-bg-content .select-bg {
    height: 51px;
    position: absolute;
    right: 0;
  }

  .products-slider li {
    width: 100%;
  }

  .main-products-control li:nth-of-type(6) {
    display: block;
  }

  .products-showcase-area .default-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .products-showcase-content, .why-us-content,
  .blog-content {
    grid-template-columns: 100%;
  }

  .product-card .product-card-img img {
    width: 100%;
    height: auto;
  }

  .selllers-product {
    grid-template-columns: 100%;
    gap: 40px;
  }

  .footer {
    padding-bottom: 50px;
  }

  .modal-area{
    width: 90% !important;
  }

  .modal-area-content p{
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .mobileNav-brand a {
    background-image: url('https://cartzillacommerce.projetoslucasbargas.com/assets/images/logo-icon.png');
    width: 74px;
    height: 34px;
  }
}

@media screen and (max-width: 400px) {
  .initial-bg {
    display: flex;
    align-items: center;
  }

  .initial-bg-content h1 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .initial-bg-content form {
    padding-top: 30px;
  }

  .footer-newsletter .footer-final ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .footer-newsletter-area form,
  .footer-newsletter-area form input,
  .footer-newsletter-area form button {
    display: block;
    width: 100%;
    position: static;
    border-radius: 5px;
  }

  .footer-newsletter-area form input,
  .footer-newsletter-area form button {
    height: 35px;
  }

  .footer-newsletter-area form button {
    margin-top: 10px;
  }

  .footer-newsletter .footer-final {
    text-align: center;
  }

  .return-to-top {
    width: 35px;
    height: 35px;
    right: 10px;
  }

  .modal-area-content h2{
    font-size: 1.25rem;
  }

  .modal-area-content p, .modal-button{
    font-size: 0.88rem;
  }
}

@media screen and (max-width: 370px) {
  .initial-bg-content form input {
    padding-right: 15px;
  }

  .initial-bg-content .btn-bg {
    bottom: 61px;
  }

  .initial-bg-content .select-bg {
    position: static;
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
  }

  .footer-brand {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
  }

  .footer-brand h2 {
    margin-left: 0;
  }

  .footer-left-datas {
    flex-direction: column;
    gap: 10px;
  }

  .footer-left-datas p:nth-of-type(1) {
    padding-right: 0;
  }
  
  .footer-left-datas p:nth-of-type(2) {
    border-left: 0;
    border-right: 0;
    padding: 0;
  }
  
  .footer-left-datas p:nth-of-type(3) {
    padding-left: 0;
  }
}

@media screen and (max-width: 350px) {
  .initial-bg {
    height: calc(100vh - 74px);
  }

  .initial-bg-content form input,
  .initial-bg-content .btn-bg {
    height: 40px;
  }

  .default-title h2 {
    font-size: 1.5rem;
  }

  .main-products-control li {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 300px) {
  .initial-bg-content h1 {
    font-size: 1.75rem;
  }

  .initial-bg-content p {
    font-size: 1rem;
  }
}