/* 
  * Fontes utilizadas:
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
:root {
  --white-color: #ffffff;
  --dark-bg: #0c0b09;
  --less-dark-bg: #191814;
  --gray-color: #d0d0cf;
  --golden-color: #cda45e;
  --ball-slide: ##6b6d6f;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--white-color);
  background: var(--dark-bg);
}

.flex {
  display: flex;
}

.space {
  padding: 60px 3%;
}

.btn {
  padding: 8px 25px;
  text-transform: uppercase;
  font-size: 0.8125rem;
}

.transparent-btn {
  border: 2px solid var(--golden-color);
  border-radius: 50px;
  transition: .4s;
}

.transparent-btn:hover {
  background: var(--golden-color);
  color: var(--white-color);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  background-position: center;
  background-size: cover;
  background-image: url('../../images/hero-bg.jpg');
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.header::after {
  content: '';
  background: var(--dark-bg);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.headerNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.headerNav-dates.space {
  padding: 9px 3%;
}

.headerNav-dates {
  justify-content: space-between;
  font-size: 0.875rem;
}

.headerNav-dates-info {
  gap: 30px;
}

.number, .hours {
  align-items: center;
}

.iconHeader::before {
  content: '';
  display: block;
  background-position: center;
  background-size: 100% 100%;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.number::before {
  background-image: url('../../images/icons/phone.svg');
}

.hours::before {
  background-image: url('../../images/icons/clock.svg');
}

.headerNav-dates-lang .en {
  color: var(--golden-color);
}

.headerNav-dates-lang .en::after {
  content: '/';
  color: var(--white-color);
  margin: 0 10px;
}

.headerNav-dates-lang .de a {
  color: var(--white-color);
}

.closeMobile {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.closeMobile button {
  display: flex;
  background: transparent;
  border: 0;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mobileIcon {
  display: block;
  background-position: center;
  background-size: 100% 100%;
  width: 28px;
  height: 28px;
}

.closeIcon {
  background-image: url('../../images/icons/close.svg');
}

.headerNav-links {
  background: rgba(12, 11, 9, 0.6);
  position: relative;
}

.headerNav-links-area.space {
  padding: 15px 3%;
}

.headerNav-links-area {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.headerNav-links-area a {
  color: var(--white-color);
}

.headerNav-brand a {
  text-transform: uppercase;
  font-size: 1.75rem;
}

.headerNav-menu a {
  font-size: 0.875rem;
  padding: 14.5px 12px;
  transition: .5s;
  display: block;
}

.headerNav-menu a:hover {
  color: var(--golden-color);
}

.menuMobile {
  display: none;
}

.menuMobile button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.mobileIcon {
  display: block;
  background-position: center;
  background-size: 100% 100%;
  width: 28px;
  height: 28px;
}

.menuIcon {
  background-image: url('../../images/icons/mobile.svg');
}

.headerText {
  align-items: center;
  position: relative;
  top: 115px;
  z-index: 3;
  height: calc(100% - 115px);
}

.headerText.space {
  padding: 0 3%;
}

.headerText-area {
  width: 100%;
  animation: headerAnimation 1.5s forwards;
}

@keyframes headerAnimation {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.headerText-buttons {
  width: 70%;
}

.headerText-buttons h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  line-height: 2.5rem;
}

.headerText-buttons span {
  color: var(--golden-color);
}

.headerText-buttons p {
  font-family: 'Playfair Display', serif;
  font-size: 1.375rem;
  margin-top: 10px;
}

.headerText-actions ul {
  padding-top: 30px;
  gap: 15px;
}

.headerText-actions a {
  display: block;
  color: var(--white-color);
}

.headerText-play {
  justify-content: center;
  align-items: center;
  width: 30%;
}

.playButton {
  justify-content: center;
  align-items: center;
  background: var(--golden-color);
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.playIcon {
  display: block;
  background-position: center;
  background-size: 100% 100%;
  background-image: url('../../images/icons/play.svg');
  height: 32px;
  width: 32px;
}