@media screen and (max-width: 1536px) {
  .container {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}

@media screen and (max-width: 1366px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1260px;
  }
}

@media screen and (max-width: 1100px) {
  .aboutArea-img figure:hover {
    transform: scale(1);
  }

  .aboutArea-img figure:hover::before{
    transform: translate3d(0, 0, 0);
  }
  
  .aboutArea-img figure:hover::after{
    transform: translate3d(0, 0, 0);
  }

  .menuSection-options ul {
    grid-template-columns: 1fr;
  }

  .eventsSection-slide-single {
    flex-direction: column;
    align-items: center;
  }

  .eventsSection-slide-contentLeft,
  .eventsSection-slide-contentRight {
    width: 100%;
  }

  .gallery-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-content figure:hover img {
    transform: scale(1);
  }
}

@media screen and (max-width: 800px) {
  .headerNav-button {
    display: none;
  }

  .menuMobile {
    display: flex;
  }

  .closeMobile {
    display: none;
  }

  .closeMobile.show {
    display: block;
    animation: showMenu .4s forwards;
  }

  .headerNav-menu {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -37px;
    left: 0;
    background: rgba(12, 11, 9, 0.8);
    width: 100%;
    height: 100vh;
  }

  .headerNav-menu.show {
    display: flex;
    animation: showMenu .4s forwards;
  }

  @keyframes showMenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .headerNav-menu ul {
    display: block;
    background: var(--white-color);
    width: 97%;
    height: calc(97vh - 37px);
    margin-top: 30px;
    border-radius: 5px;
    overflow-y: auto;
  }

  .headerNav-menu a {
    color: var(--dark-bg);
    padding: 12px 12px;
  }

  .headerText-area {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .headerText-buttons, .headerText-play {
    width: 100%;
  }

  .headerText-actions ul {
    justify-content: center;
    padding-top: 25px;
  }

  .headerText-buttons h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .headerText-buttons p {
    font-size: 1.12rem;
    margin-top: 5px;
  }

  .playButton {
    height: 60px;
    width: 60px;
  }

  .headerText-play {
    padding-top: 30px;
  }

  .aboutArea {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .aboutArea-text, .aboutArea-img {
    width: 100%;
  }

  .whyUsSections-list ul {
    grid-template-columns: 1fr;
  }

  .specialsSection-tabNav {
    grid-template-columns: 100%;
  }

  .tabNav ul {
    border: 0;
  }

  .specialContent-area {
    padding-left: 0;
  }

  .specialContent-area.activeTab {
    flex-direction: column-reverse;
  }

  .specialContent-area figure {
    padding-top: 20px;
  }

  .reservationSection-form .form .form-area {
    display: flex;
    flex-direction: column;
  }

  .eventsTestimonials-slide-single {
    width: 100%;
    padding: 0 10px;
  }

  .eventsTestimonials-slide-single:nth-of-type(6), .eventsTestimonials-slide-single:nth-of-type(7) {
    display: none;
  }

  .eventsTestimonials-slide-control ul {
    padding-top: 40px;
  }

  .chefsSection-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-topics {
    flex-direction: column;
    gap: 60px;
  }

  .contact-topics ul {
    width: 100%;
  }
  
  .contact-topics .form-area{
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .headerNav-dates {
    justify-content: center;
    font-size: 0.8125rem;
  }

  .headerNav-dates-lang {
    display: none;
  }

  .aboutArea-img figure::before, 
  .aboutArea-img figure::after {
    width: 40px;
    height: 40px;
  }

  .menuSection-options ul {
    gap: 45px;
  }

  .allOptions-plate-info {
    margin-left: 0;
  }

  .allOptions-plate-info span:last-of-type {
    margin: 10px 0;
  }

  .menuSection-options .flex {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .allOptions-plate-info div .between {
    display: none;
  }

  .formMessage-area {
    align-items: flex-start;
  }

  .formMessage-area p {
    max-width: 300px;
  }

  .eventsTestimonials-slide-single {
    padding: 0;
  }

  .gallery-content {
    grid-template-columns: 1fr;
  }

  .chefsSection-content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .headerText-buttons h1 {
    max-width: 300px;
    margin: 0 auto;
    line-height: 2.2rem;
  }

  .headerText-buttons p {
    max-width: 320px;
    margin: 0 auto;
  }

  .formMessage-area p {
    max-width: 280px;
  }
}

@media screen and (max-width: 350px) {
  .headerNav-brand a {
    font-size: 1.15rem;
  }

  .headerNav-dates-info {
    flex-direction: column;
    gap: 5px;
  }

  .headerNav-menu {
    top: -59px;
  }

  .headerNav-brand a {
    font-size: 1.5rem;
  }

  .aboutArea-text h2 {
    font-size: 1.5rem;
  }

  .default-title h1 {
    font-size: 1.5rem;
  }

  .whyUsSections-list h4 {
    font-size: 1.25rem;
  }

  .menuSection-nav ul {
    display: block;
    text-align: center;
    gap: 5px;
  }

  .eventsSection-slide-single h3,
  .eventsSection-slide-single .price p {
    font-size: 1.375rem;
  }

  .reservationSection-form input,
  .reservationSection-form textarea {
    font-size: 0.8125rem;
  }

  .reservationSection-form input::placeholder,
  .reservationSection-form textarea::placeholder {
    font-size: 0.8125rem;
  }

  .reservationSection-form .sendForm .btn {
    font-size: 0.8125rem;
  }

  .form-message p {
    font-size: 0.75rem;
  }

  .formMessage-area p {
    max-width: 220px;
  }

  .aboutArea-img figure::before, 
  .aboutArea-img figure::after {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 300px) {
  .closeMobile button {
    padding: 7px 5px;
  }

  .headerText-actions ul {
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
  }

  .whyUsSections-list li {
    padding: 40px 20px;
  }

  .specialContent-area h3 {
    font-size: 1.25rem;
  }

  .eventsTestimonials-slide-single p::before, .eventsTestimonials-slide-single p::after {
    width: 20px;
    height: 20px;
  }

  .eventsTestimonials-slide-single p, .eventsTestimonials-slide-single h3 {
    font-size: 0.875rem;
  }
  
  .eventsTestimonials-slide-single figure div span {
    font-size: 0.75rem;
  }
}