@media screen and (max-width: 1536px) {
  .container {
    max-width: 1400px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}

@media screen and (max-width: 1366px) {
  .container {
    max-width: 1300px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1180px;
  }
}

@media screen and (max-width: 800px) {
  .headerNav-button {
    display: none;
  }

  .menuMobile {
    display: flex;
  }

  .closeMobile {
    display: none; /*block*/
  }

  .closeMobile.show {
    display: block;
    animation: showMenu .4s forwards;
  }

  .headerNav-menu {
    display: none; /*flex*/
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -37px;
    left: 0;
    background: rgba(12, 11, 9, 0.8);
    width: 100%;
    height: 100vh;
  }

  .headerNav-menu.show {
    display: flex;
    animation: showMenu .4s forwards;
  }

  @keyframes showMenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .headerNav-menu ul {
    display: block;
    background: var(--white-color);
    width: 97%;
    height: calc(97vh - 37px);
    margin-top: 30px;
    border-radius: 5px;
    overflow-y: auto;
  }

  .headerNav-menu a {
    color: var(--dark-bg);
    padding: 12px 12px;
  }

  .headerText-area {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .headerText-buttons, .headerText-play {
    width: 100%;
  }

  .headerText-actions ul {
    justify-content: center;
    padding-top: 25px;
  }

  .headerText-buttons h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .headerText-buttons p {
    font-size: 1.12rem;
    margin-top: 5px;
  }

  .playButton {
    height: 60px;
    width: 60px;
  }

  .headerText-play {
    padding-top: 30px;
  }

  .aboutArea {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .aboutArea-text, .aboutArea-img {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .headerNav-dates {
    justify-content: center;
    font-size: 0.8125rem;
  }

  .headerNav-dates-lang {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .headerText-buttons h1 {
    max-width: 300px;
    margin: 0 auto;
    line-height: 2.2rem;
  }

  .headerText-buttons p {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 350px) {
  .headerNav-brand a {
    font-size: 1.15rem;
  }

  .headerNav-dates-info {
    flex-direction: column;
    gap: 5px;
  }

  .headerNav-menu {
    top: -59px;
  }

  .headerNav-brand a {
    font-size: 1.5rem;
  }

  .aboutArea-text h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  .closeMobile button {
    padding: 7px 5px;
  }

  .headerText-actions ul {
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
  }
}