@media (max-width: 1170px) {
  .header-nav-side.show {
    display: flex;
    animation: showMenu .3s forwards;
  }

  @keyframes showMenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .close-mobile.show {
    display: block;
    animation: showMenu .3s forwards;
  }
}