.header {
    transition: .4s;
}

.header.scroller-fixed {
    top: 0;
    background: var(--white-color);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .1);
    transition: .4s;
}

.header.scroller-fixed .headerArea-nav-side {
    padding-right: 0;
}