.jsAnimaScroll {
  opacity: 0;
}

.aboutArea-text.animate {
  animation: downUp 1s forwards;      
}

@keyframes downUp {
  from {
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.aboutArea-img.animate {
  animation: expands 1s forwards;  
}

@keyframes expands {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.default-title.animate {
  animation: downUp 1s forwards;
}

.whyUsSections-list ul li:nth-of-type(1).animate,
.chefsSection-content-single:nth-of-type(1).animate {
  animation: expandsLi .7s forwards;
}

.whyUsSections-list ul li:nth-of-type(2).animate, 
.chefsSection-content-single:nth-of-type(2).animate {
  animation: expandsLi 1.2s forwards;
}

.whyUsSections-list ul li:nth-of-type(3).animate,
.chefsSection-content-single:nth-of-type(3).animate {
  animation: expandsLi 1.7s forwards;
}

@keyframes expandsLi {
  from {
    opacity: 0;
    transform: scale(0.4);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.menuSection-nav.animate {
  animation: downUp 1s forwards;      
}

.menuSection-options.animate {
  animation: downUp .7s forwards;   
}

.specialsSection-tabNav.animate {
  animation: downUp 1s forwards; 
}

.eventsSection-slide-wrapper.animate {
  animation: downUp 1.5s forwards; 
}

.reservationSection-form.animate {
  animation: downUp 1s forwards; 
}

.slideCaroussel.animate {
  animation: downUp 1s forwards; 
}

.gallery-content.jsAnimaScroll {
  animation: downUp 1s forwards; 
}

.contactSection-form.animate {
  animation: downUp 1s forwards; 
}

.return {
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

.return.show {
  opacity: 1;
  visibility: visible;
  transition: .5s;
}